.notification-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Optional: adjust the height to your preference */
}

.centered_content {
  display: flex;
  justify-content: center;
}